body {
	text-align: center;
	margin: 0px;
	padding: 0px;
	font-family: Impact, Charcoal, sans-serif;
}

.bingocontainer {
	border-style: solid;
}

.bingocell {
	height: 15vmin;
	width: 15vmin;
	border-color: black;
	border-style: solid;
	display: inline-block;
	padding: 1vmin;
	margin-left: -5px;
	vertical-align: middle;
	position: relative;
}

.bingocell input{
	position: absolute;
	width: 15vmin;
	bottom: 10px;
	left:1vmin;
}